<section class="about">
    <div class="about-container">
        <h2 class="about-title">Комп’ютерна інженерія</h2>
        <p class="about-paragraph">
            Спеціальність, що включає наукові методи та технології, пов’язані з розробкою, модернізацією та обслуговуванням програмних та апаратних компонентів сучасних комп’ютерних та комп'ютеризованих систем. 
        </p>
        <p class="about-paragraph">
            Відмінною особливістю фахівців в галузі комп’ютерної інженерії є здатність створювати і модернізувати програмні продукти, операційні системи, комп’ютерні технології і системи з використанням прикладного і системного програмування, а також сучасної комп’ютерної техніки.
        </p>
        <p class="about-paragraph">
            Для цього студенти отримують грунтовану підготовку в напрямках сучасного прикладного та системного програмування, веб-дизайну, глобальних комп’ютерних мереж, хмарних технологій, сучасних технологій зберігання та обміну інформацією в Інтернет, засобів та технологій штучного інтелекту.
        </p>
        <div class="about-links">
            <a class="about-link" href="https://fpecs.dnu.dp.ua/">Сайт факультету -></a>
            <a class="about-link" href="https://t.me/DNU_EOM_123">Telegram кафедри -></a>
            <a class="about-link" href="https://www.facebook.com/ffeks.dnu">Facebook факультету -></a>
        </div>
    </div>
</section>
