<section class="projects">

    <!-- project-1 -->
    <div class="project">
        <div class="project-container">
            <h3 class="project-title">Еволюція та досягнення кафедри</h3>
            <div class="project-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1516542076529-1ea3854896f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <p class="project-paragraph">
                Кафедра ЕОМ була заснована на базі кафедри біоніки фізичного факультету Дніпропетровського державного університету в 1976 році на початку широкого впровадження обчислювальної техніки в виробничу діяльність підприємств Придніпровського регіону. Вона є однією з перших кафедр цього напрямку в Україні.
            </p>
            <p class="project-paragraph">
                З 1977 року кафедра ЕОМ входить до складу радіофізичного факультету, а з 2007 року – до складу факультету фізики, електроніки та комп'ютерних систем Дніпровського національного університету імені Олеся Гончара. За час свого існування кафедра ЕОМ підготувала понад 3000 висококваліфікованих фахівців в області комп'ютерних систем і мереж.
            </p>
            <p class="project-paragraph">
                Засновником кафедри був доцент Олександр Костянтинович Флоров, який доклав багато зусиль для формування і розвитку цього напрямку в Дніпропетровському університеті. За час існування кафедри її керівниками були: к.б.н., доцент О.К. Флоров (1976-1984, 1989-1998), к. ф-м. н., доцент А.А Андрєєв (1984-1989), д.т.н., професор В.С. Хандецький (з 1998 і по сьогодні).
            </p>
        </div>
    </div>
    <!-- /project-1 -->

    <!-- project-1 -->
    <div class="project project--dark">
        <div class="project-container">
            <h3 class="project-title">Project Name</h3>
            <div class="project-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1516542076529-1ea3854896f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <p class="project-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices placerat malesuada. Maecenas viverra sollicitudin vestibulum. Nam sit amet felis blandit, convallis felis at, imperdiet justo. Vestibulum dui turpis, viverra non est eu, pellentesque porttitor purus. In hac habitasse platea dictumst. Donec id dolor egestas dui posuere rhoncus. Vestibulum sem purus, condimentum vel interdum vitae, interdum condimentum ipsum. Duis a odio ut orci rutrum aliquet.
            </p>
        </div>
    </div>
    <!-- /project-1 -->

</section>
